body{
    background-color: white;
}
.responsive-header {
    width: 100%;
    height: auto;
    margin: auto;
    width: full;
  }

  hr.solid {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #bbb;
    opacity: 20%;
          }


.sidebar-logo{
  /*width: 200px;
  display: block;
  padding: 8px 8px 15px 32px;
*/
position:absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    width: 200px;

}

#paddings {
  padding-top: 60px;
}

  /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    /* BACKGROUND IMAGE
    background-image: url("sads.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 700px;
    */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 10px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color:#272727;
    display: block;
    transition: 0.3s;
   
  } 
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color:gray;
    
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position:absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    background-color: transparent;
    font-size: 60px;
    cursor: pointer;
    color:#272727;
    padding: 10px 15px;
    border: none;
    POSITION: FIXED;
  }
  
  .openbtn:hover {
    background-color: transparent;
    color: gray;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 20px;}
    .sidebar a {font-size: 18px;}
    
  }  
    /*-------------------sidebar menu end------------------*/

    .position-vid{
      max-width: 100%;
      position:absolute;
      margin: auto;
  
    }